[submodule "rumprun"]
	path = rumprun
	url = https://github.com/nabla-containers/rumprun
	branch = solo5
[submodule "rumprun-packages"]
	path = rumprun-packages
	url = https://github.com/nabla-containers/rumprun-packages
	branch = solo5
[submodule "gorump"]
	path = gorump
	url = https://github.com/nabla-containers/gorump
